// Colours
$color-black: #000;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0);

// Theme variables
body[data-theme='default'] {
    --color-text: #f6f0e9;
    --color-background: #242933;
    --color-primary: #ec4c56;
    --color-sub: #596172;
    --color-input: rgba(0, 0, 0, 0.1);
    --color-sub-active: #868ea0;
}

body[data-theme='carbon'] {
    --color-text: #f5e6c8;
    --color-background: #313131;
    --color-primary: #f66e0d;
    --color-sub: #616161;
    --color-input: rgba(0, 0, 0, 0.1);
    --color-sub-active: #909090;
}

body[data-theme='material'] {
    --color-text: #e6edf3;
    --color-background: #263238;
    --color-primary: #80cbc4;
    --color-sub: #4c6772;
    --color-input: rgba(0, 0, 0, 0.1);
    --color-sub-active: #7898a5;
}

body[data-theme='metaverse'] {
    --color-text: #e8e8e8;
    --color-background: #232323;
    --color-primary: #d82934;
    --color-sub: #5e5e5e;
    --color-input: rgba(0, 0, 0, 0.1);
    --color-sub-active: #8e8e8e;
}
